<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myshop.dao.WareHouseOrderDao">
    <!--查询所有的订单信息-->
    <select id="findAll" resultType="com.myshop.bean.WareHouseOrder">
        SELECT * FROM warehouseorder
    </select>

    <!--根据店面编号，查询出订单集合-->
    <select id="findBySid" resultType="com.myshop.bean.WareHouseOrder">
        SELECT * FROM warehouseorder WHERE sid=#{sId}
    </select>

    <!--根据id，删除订单对象-->
    <delete id="deleteById">
        DELETE FROM warehouseorder WHERE id=#{id}
    </delete>

    <!--增加一条订单-->
    <insert id="save">
        INSERT INTO warehouseorder(cid,cname,tid,sid,onumber,otime) VALUE (#{cId},#{cName},#{tId},#{sId},#{oNumber},#{oTime})
    </insert>

</mapper>